/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 120px;
}

.card {
  width: 340px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.06);
  overflow: hidden;
  background: white;
}

.image{
  width: 100%;
  height: 288px;
  object-fit: cover;
  display: block;
}

.card .container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 24px 16px;
}

.card .content .chip {
  align-self: flex-start;
  background-color: #f0fdf4;
  border: 1px solid #bbf7d0;
  color: #15803d;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 2px 8px;
  border-radius: 9999px;
}

.card .content .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.card .content .title-desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #525252;
}


.card .content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #171717;
}

.cta button {
  background: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #4338ca;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: inherit;
  min-width: 114px;
}

.cta button:focus,
.cta button:hover {
  color: #3730a3;
}

.cta button:focus {
  box-shadow:
    0px 0px 0px 1px #444ce7,
    0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.cta button:disabled {
  pointer-events: none;
  color: #a3a3a3;
}

.cta button span {
  flex: 1;
  display: inline-flex;
  padding: 0 2px;
}
